@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Urbanist";
    font-weight: 500;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*Scrollbars*/
/* ::-webkit-scrollbar{
    display: fixed;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,1);
}
::-webkit-scrollbar-thumb {
    background: #5e5e5e;
} */

/*specific highlights*/
.black-bg-highlight{
    background-color: black;
    color: #E8E4E0;
    padding:0.3%;
}



/*Start of page specific styles*/

#title{
    padding: 0 0 0 5%;
}

@media (max-width:600px){
    #title{
        padding:0;
    }
}

body{
    background-color: black;
}

/*Intro*/
#intro{
    box-sizing: border-box;
    min-height: 100vh; 
    background-size: cover;
    color: #E8E4E0;
    background-color: black;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
}
#intro h1{
    font-size: 13vmin;
    font-weight: 600;
}
#intro h2{
    font-size: 8vmin;
    font-weight: 300;
}

#intro #top_left{
    overflow: visible;
}

@media (min-width:600px) {
    #intro{
       height: 100vh;
    }
    #intro h1{
        font-size: 10vmin;
    }
    #intro h2{
        font-size:5vmin;
    }
}


/*About*/


#about{
    padding: 5%;
    color: black;
    background-color: #E8E4E0;
    padding-top: 10%;
    min-height: 100vh;
}

#about h1{
    font-size: xxx-large;
    font-weight: 500;
    text-align: center;
}
#about #profile #pfp{
    padding: 5%;
    margin: auto;
    text-align: center;
}
#about #pfp img{
    width: auto;
    height: 50vmin;
    aspect-ratio: 1/1;
    filter: saturate(0.2) contrast(0.75);
}
#about #pfp h2{
    font-weight: 200;
}
#about #self_description{
    width: 75%;
    margin: auto;
}
#self_description p{
    font-weight: 200 ;
    font-size: larger;
    line-height: 1.5;
    text-align: justify;
}
#self_description p span#bigger{
    font-size: xx-large;
}

@media (min-width:600px) {
    #about{
        padding: 5%;
    }
    
    #about h1{
        text-align: left;
    }
    #profile{
        display: flex;
    }
    #profile #self_description{
        width: 50%;
        margin: auto;
    }
}

/*Projects*/
#projects{
    padding: 10% 0 5% 0;
    background-color: black;
    color: #E8E4E0;
    padding-top: 10%;
}

#projects h1{
    font-size: xxx-large;
    font-weight: 500;
    text-align: center;
}
#projects h2{
    font-size: xx-large;
    font-weight: 300;
    text-align: left;
}

#mun{

}

#mun h2{
    text-align: center;
}
#mun p{
    width: 75%;
    margin: auto;
    text-align: justify;
}

/*Editorial */
#editorial{
    padding: 10% 0 5% 0;
    background-color: #E8E4E0;
    color: #000;
    padding-top: 10%;
}

#editorial h1{
    font-size: xxx-large;
    font-weight: 500;
    text-align: center;
}
#editorial h2{
    font-size: xx-large;
    font-weight: 300;
    text-align: left;
}

#loq{

}

#loq h2{
    text-align: center;
}
#loq p{
    width: 75%;
    margin: auto;
    text-align: justify;
}

/* .scroll_img{
    width: 35vw;
    height: auto;
    object-fit:cover;
    object-position: 0 0 ;
    margin: 0 7.5vw 0 7.5vw;
    box-sizing: content-box;
}

#scroller{
    width: 100vw;
    box-sizing: border-box;
    min-height: 120%;
    display: grid;
    overflow-x:hidden;
    grid-template-columns: auto auto;
    row-gap:10%;
    overflow-y: hidden;
} */

.scroll_img{
    width: 80vw;
    height: auto;
    object-fit:cover;
    aspect-ratio: 9/16;
    object-position: 0 0 ;
    margin: 0 7.5vw 0 7.5vw;
    box-sizing: content-box;
}

.scroll_img.loq{
    aspect-ratio: 1414/2000;
}

#scroller{
    width: 100vw;
    box-sizing: border-box;
    min-height: 120%;
    display: grid;
    overflow-x:hidden;
    grid-template-columns: auto;
    row-gap:10%;
    overflow-y: hidden;
}



@media (min-width:600px) {
    #projects{
        padding: 5% 0 5% 0;
    }
    
    #projects h1{
        text-align: left;
    }

    #mun h2{
        text-align: left;
        margin: 0 0 0 7.5% ;
    }

    #mun p{
        width: 50%;
        margin: 0 0 0 12.5%;
    }
    .scroll_img{
        width: 35vw;
        /* aspect-ratio: auto; */
    }
    #scroller{
        grid-template-columns: auto auto;
    }

    #editorial{
        padding: 5% 0 5% 0;
    }
    
    #editorial h1{
        text-align: left;
    }

    #loq h2{
        text-align: left;
        margin: 0 0 0 7.5% ;
    }

    #loq p{
        width: 50%;
        margin: 0 0 0 12.5%;
    }
}

#footer{
    background-color:#D2b68A;
    background-color:#E8E4E0;
    /* color:#E8E4E0; */
    color: black;
    margin: 0;
    box-sizing: border-box;
    padding: 2% 5% 1% 5%;
    min-height: 10vh;
    overflow-y: hidden;
}

#footer #logo{
    width: 10vmin;
    height: auto;
    aspect-ratio: 1/1;
    filter: invert();
}


#contact_blocks{
    width: 50%;
    /* background-color: rgba(0, 0, 0, 0.205); */
    padding: 2.5%;
    box-sizing: border-box;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.block{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    font-size: small;
}
.block img{
    width: 10%;
    margin: 0 5% 0 5%;
}

@media (max-width:600px){
    #contact_blocks{
        width: 100%;
    }
}